header {
    text-align: center;
    position: sticky;
    top: 0%;
    background-color: rgb(169, 138, 103);
}

li a {
    text-decoration: none;
    color: rgb(38, 30, 24);
    padding: 1%;
}

header ul li a:hover {
    color: rgb(197, 217, 180);
}

header ul li {
    display: inline-block;
    background-color: rgb(130, 106, 77);
    margin: 0.5%;
    padding: 1%;
    width: 12%;
    font-size: 130%;
    font-weight: 600;
}

header ul li:hover {
    background-color: rgb(169, 138, 103);
}

footer {
    background-color: rgb(211, 202, 191);
    text-align: center;
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2%;
}

ul {
    list-style-type: none;
}

#sites {
    background-color: rgb(240, 230, 217);
}

#register-footer {
    text-align: right;
    display: flex;
}

#register-footer ul {
    margin: auto;
}

#register-footer li a {
    background-color: rgb(88, 108, 84);
    color: rgb(243, 251, 237);
    font-weight: 600;
    font-size: large;
}

#register-footer ul li {
    display: inline-block;
}

.container img {
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20%;
    padding-bottom: 5%;
}

h1 {
    font-size: 300%;
    padding: 5%;
    margin: auto;
}

section {
    margin: auto;
    margin-right: 20%;
    margin-top: 5%;
    background-color: antiquewhite;
    padding: 3%;
}

button {
    font-size: 130%;
}

body {
    background-color: rgb(255, 251, 246);
    font-family: 'Courier New', Courier, monospace;
}